body{
    background: linear-gradient(to right, #DF0101, #FF8000 );
}
#login {
    width: 50%;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0 auto;
    padding: 30px;
    background: gray;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0 .5);
}